// primary colors
@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,500&family=Montserrat:wght@500;700&display=swap');

$dark-cyan: hsl(158, 36%, 37%);
$darker-cyan: hsl(159, 27%, 33%);
$cream: hsl(30, 38%, 92%);

// neutral colors
$very-dark-blue: hsl(212, 21%, 14%);
$dark-grayish-blue: hsl(228, 12%, 48%);
$white: hsl(0, 0%, 100%);

// typography
$montserrat-m: 500 0.875rem "Montserrat", sans-serif;
$montserrat-b: 700 0.875rem "Montserrat", sans-serif;
$fraunces-b: 700 0.875rem "Fraunces", sans-serif;

//responsive
$width: 480px;

@mixin mobile {
  @media (max-width: #{$width}) {
    @content;
  }
}
